<div id="inbox">
  <div id="inbox-header">
    <% unless @freelancer_contracts.empty? %>
    <h4 class="p1 m0 tab active" data-target="received">Received proposals</h4>
    <% end %>
    <% unless @employer_contracts.empty? %>
    <h4 class="p1 m0 tab" data-target="sent">Sent proposals</h4>
    <% end %>
  </div>
  
  
  <div id="received">
    <% @freelancer_contracts.each do |contract| %>
    
    
    <div class="message">
      <div class="thumb">
        <img src="<%= contract.user.profile_image %>" width="100%">
      </div>
      <div class="message-name">
        <%= link_to user_path(contract.user) do %>
        <p class="m0">From</p>
        <h3 class="mt1"><%= contract.user.first_name %> <%= contract.user.last_name %></h3>
        <% end %>
      </div>
      <div class="message-body">
        <%= contract.description %>
      </div>
      <div class="message-status">
        <% check = 1 if contract.status == true %>
        <% check = 0 if contract.status == false %>
        <% check = "" if contract.status == nil %>
        <input type="checkbox" value="<%= check %>" name="freelance-response" data-indeterminate='true'>
      </div>
    </div>
    
    <% end %>
  </div>
  
  
  <div id="sent">
    <% @employer_contracts.each do |contract| %>
    <% freelancer = contract.skill.user %>
    
    <div class="message">
      <div class="thumb">
        <img src="<%= freelancer.profile_image %>" width="100%">
      </div>
      <div class="message-name">
        <%= link_to user_path(freelancer) do %>
        <p class="mb0">To</p>
        <h3 class="mt1"><%= freelancer.first_name %> <%= freelancer.last_name %></h3>
        <% end %>
      </div>
      <div class="message-body">
        <%= contract.description %>
      </div>
      <div class="message-status">
        <% if contract.status == nil %>
        <span class="label label-default">Pending</span>
        <% elsif contract.status == false %>
        <span class="label label-error">Rejected</span>
        <% else %>
        <span class="label label-success">Accepted</span>
        <% end %>
      </div>
    </div>
    
    <% end %>
  </div>
</div>