<div class="row">
  <div class="col-sm-5">
  <div class="infos_">
    <div class="new-profile-image" style="background-image: url(<%= @skill.user.profile_image %>)">
      <p>SEND A BOOK REQUEST TO</p>
      <h1><%= @skill.user.first_name.capitalize %> <%= @skill.user.last_name.capitalize %></h1>
      <h2><%= @skill.name  %></h2>
      <h2><%= @skill.user.price  %> € per Day</h2>
    </div>

  </div>
    <div class="col-xs-12 col-sm-4">
      <%= simple_form_for [@skill, @contract] do |f| %>
      <%= f.error_notification %>
      <%= f.input :description, :placeholder => "what do you have in brain ?" %>
      <%= f.input :start_time %>
      <%= f.input :end_time %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>


