<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-3">


    <h5><%= @skill.user.first_name.capitalize %> <%= @skill.user.last_name.capitalize %></h5>


    <%= simple_form_for [@skill, @contract] do |f| %>
    <%= f.error_notification %>
    <%= f.input :description %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.button :submit %>
    <% end %>

  </div>
</div>


