<div class="row">
  <div class="col-xs-12">
    <div class="row text-center">
      <h4 class="">Send a message to</h4>
      <h2><%= @skill.user.first_name %> <%= @skill.user.last_name %></h2>
    </div>
    <%= simple_form_for [@skill, @contract] do |f| %>
    <%= f.error_notification %>
    <%= f.input :description, :input_html => {:rows => 5} %>
    <%= f.input :start_time, as: :string, input_html: { class: "datepicker"} %>
    <%= f.input :end_time, as: :string, input_html: { class: "datepicker"} %>
    <%= f.button :submit %>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do  %>
  <script type="text/javascript">
    $(".datepicker").datepicker();
  </script>
<% end %>

