<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content">
    <h1 class="m0">CONNECT BRAINS</h1>
    <h1 class="m0">TO</h1>
    <h1 class="m0"><span
       class="txt-rotate"
       data-period="3000"
       data-rotate='[ "TEAMS", "PROJECTS", "BRAINS"]'>
      </span>
    </h1>
  </div>
</div>

<div id="users-overview" class="row">
  <% @users.each do |user| %>
  <% if user != current_user %>
  <div class="col-xs-12 col-sm-4 col-md-3">
    <div class="card m0 mb3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= user.profile_image %>');">
      <div class="card-category">
      <%= user.address %>
      <h5><%= user.first_name.capitalize %> <%= user.last_name.capitalize %></h5>
      </div>
      <div class="card-description c10">
        <div class="col-sm-6 pl0">
          <% user.skills.each do |skill| %>
          <h5 class="m0"><%= skill.name %></h5>
          <% end %>
        </div>
        <div class="col-sm-6 pr0 text-right">
          <%= user.price %>€
        </div>
      </div>
      <a class="card-link" href="<%= user_path(user) %>" ></a>
    </div>
  </div>
  <% else %>
  <!-- Not signed in -->
  <% end %>
  <% end %>
</div>

<!--
style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');" -->
