<div class="container">
  <div class="row">
    <div class="col-lg-3 kill-padding">
      <div class="user-profile-image" style="background-image: url(<%= @user.profile_image %>)">   
      </div>
    </div>
    <div class="col-lg-offset-1 col-lg-7 kill-padding">

      <div class="filet">
        <div class="filet-header">
          <div class="freelance-info">     
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>
            <h4><%= @user.skills.first.name %> Specialist <%= @user.price > 300 ? 'Senior' : 'Junior' %></h4>
            <p>Daily charges : <strong><%= @user.price %> €</strong></p>
          </div>
          <div class="freelance-booking">   
            <h4>Brain Available</h4>
            <% unless @user == current_user %>
              <%= link_to 'Book this freelance', new_skill_contract_path(@skill), class: "btn btn-default" %>
            <% end %>             
          </div>
        </div>  
    
        <div class="filet-body">
          <p class="text-justify padding-top">
          <%= @user.description %>
          </p>
        </div>
      </div>
      
    </div>
  </div>


</div>

