<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <h1 class="m0">BRAIN2BRAIN</h1>
  <% end %>

  <!--   Searchbar  -->
  <div id="search" class="form-group inline m0">
    <%= form_tag(users_path, method: :get, class: "form-inline") do %>
      <%= text_field_tag 'skill', nil, placeholder: 'Which skill ?', class: "form-control" %>
      <%= text_field_tag 'address', nil, placeholder:'Where ?', class: "form-control" %>
      <%= submit_tag "Search", value="Save" class: "form-control" %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if user_signed_in? %>
          <%= image_tag current_user.profile_image, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% else %>
          <%= link_to "Sign in", user_session_path %>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user) do %>
              <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to user_contracts_path(current_user) do %>
              <%= t(".profile", default: "Contracts") %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
        <li>
            <%= link_to user_path(current_user) do %>
              <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to user_contracts_path(current_user) do %>
              <%= t(".profile", default: "Contracts") %>
            <% end %>
          </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>"></script>
  <script>
  $(document).ready(function() {
    var flat_address = $('input#address').get(0);

    if (flat_address) {

      var autocomplete = new google.maps.places.Autocomplete(flat_address, { types: ['geocode'] });
      google.maps.event.addDomListener(flat_address, 'keydown', function(e) {
        if (e.keyCode == 13) {
          e.preventDefault(); // Do not submit the form on Enter.
        }
      });
    }
  });
  </script>
<% end %>
